<h1>ACERCA DEL TRABAJO</h1>
<p>Este proyecto fue desarrollado con Angular y utiliza el sistema de enrutamiento (routing) para navegar entre
    distintas secciones: una página de inicio (Home), un formulario de ejemplo, una tabla y esta sección de "Acerca de".
    El objetivo es demostrar la estructura básica de una aplicación en Angular, haciendo uso de componentes y rutas para
    organizar el contenido, sin incluir funcionalidades dinámicas o conexión a bases de datos. Está orientado a la
    práctica del diseño y navegación dentro de una SPA</p>